.img-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 200px;
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }
  